name: GESIT-Engine

on:
  workflow_dispatch:
    inputs:
      video_url:
        description: 'Tempel Link Video ke GESIT'
        required: true

jobs:
  proses-gesit:
    runs-on: ubuntu-latest
    steps:
      - name: Ambil Kode
        uses: actions/checkout@v4 # Gunakan v4 yang terbaru

      - name: Siapkan Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install Modul
        run: pip install requests

      - name: Jalankan GESIT
        run: python download.py
        env:
          VIDEO_URL: ${{ github.event.inputs.video_url }}
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}

      - name: Simpan Hasil di GitHub (Opsional)
        uses: actions/upload-artifact@v4
        with:
          name: Hasil-Download-GESIT
          path: GESIT_VIDEO.mp4
